@page
@model CourtneysPortfolio.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>This page is under development, until it is finish take a look at these pictures!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="~/img/Index.png">
        </div>
        <div class="col-4">
            <img src="~/img/Index2.png" class="img-fluid">
        </div>
        <div class="col-4">
            <img src="~/img/Index3.png" class="img-fluid">
        </div>
    </div>
</div>

